#app4>.circle{
  margin-top: 5vh;
  margin-left: 10vw;
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  border: 1px solid black;
}
#app4>.circle:hover{
  animation: change 3s linear infinite alternate;
}
@keyframes change{
  0%{
    background-color: red;
  }
  20%{
    background-color: orange;
  }
  40%{
    background-color: yellow;
  }
  60%{
    background-color: green;
  }
  80%{
    background-color: blue;
  }
  100%{
    background-color: purple;
  }
}